.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 2vw;

  .randomJokeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .buttons {
      display: flex; 
      gap: 20px;
    }
  }
}
